<ng-container *ngIf="!!organization">
  <div
    class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5"
  >
    <mat-card
      *ngFor="let l of organization.links"
      class="w-full bg-stone-100 rounded"
    >
      <mat-card-title class="text-black">{{ l.name }}</mat-card-title>
      <mat-card-content>
        <ul>
          <li *ngFor="let link of l.urls">
            <a
              [href]="link.url"
              target="_blank"
              class="uppercase font-bold text-purple-700 hover:bg-purple-100 rounded-full p-2 inline-block w-full"
              >{{ link.name }}</a
            >
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
